<%- include('./partials/header') %>

<body class="">
    <%- include('./partials/menu', { activePage: 'index', pageType: 'main' }) %>
    <div class="main-content">
        <h1 class="display-4">Welcome to the Forum</h1>
        <p class="lead">This is a sample text for the main content area. You can replace this with your actual content.</p>
    </div>
</body>

<%- include('./partials/footer') %>
